.filterButtons {
  margin-bottom: 10px;
}
.filterButtons section{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.filterButtons button{
  margin: 5px;
  margin-right: 10px;
}

.pagination-controls {
  float: right;
  margin: 10px;
  margin-right: 0px;
  font-size: 15px;
}
.pagination-controls select{
  margin-left: 10px;
}

.ag-theme-alpine {
  font-size: 12px !important;
  --ag-cell-horizontal-border: 1px solid rgb(225 225 225) !important;
}
.ag-theme-alpine .ag-cell-wrapper {
  padding: 7px 0 10px 0;
  font-size: 14px;
  /* font: 15px Lato, Helvetica, sans-serif; */
  line-height: 1.5;
}

.filterComponent {
  margin: auto;
  padding: 5px;
  width: fit-content;
}
