/* .home-page {

} */
#welcomepage-view .icons h4{
  margin-top: 20px;
  font-size: 20px;
}
#welcomepage-title{
  text-align: center;
}
.quickActions{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 3rem 2rem; */
  margin-bottom: 1rem;
  /* padding: 1rem; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.quickActions svg{
  margin-bottom: 15px;
}

.quickActions div:hover {
  /* background-color: #f3f9ff; */
  background-color: #f9fafb;
}

.quickActions div {
  border: 2px dashed skyblue;
  display: inline-block;
  width: 25%;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.quickActionIcon{
  font-size: 60px;
  /* margin-bottom: 20px; */
}

/* .history h5 {
  margin-left: 25px;
} */

.quicklinks, .history {
  margin-top: 32px;
  padding-left: 2rem;
}

.history ul {
  padding-left: 10px;
  margin-bottom: 10px;
}
.history li {
  list-style-type: none;
}
.history button {
  margin: 0;
  margin: 5px;
  margin-left: 10px;
  margin-right: 20px;
  border: 2px solid rgb(74, 176, 199) !important;
  background-color: transparent;
}

/* .btn-group-horizontal{

} */

.btn-group-horizontal a{
  margin: 1rem;
  background-color: transparent;
  border:2px solid rgb(74, 176, 199) !important;
}