.navbar-wrapper {
  float: left;
  position: fixed;
  margin: 0;
  height: 100vh;
}
.pro-sidebar-footer {
  border: 0 !important;
}

#toggle-btn:hover,  #toggle-btn:active,  #toggle-btn:active{
  outline: none;
  box-shadow: none;
}

#toggle-btn {
  width: 99%;
  margin: auto;
}
.collapsed #toggle-btn {
  width: 99%;
  margin: auto;
}
.pro-icon-wrapper {
  color: #fff;
}
/* .pro-sidebar.collapsed{
  width: 50px;
  min-width: 50px;
}
.pro-inner-item {
  padding: 0 !important;
}
.pro-icon-wrapper {
  width: 50px !important;
  min-width: 50px !important;
  height: 50px !important;
  min-height: 50px !important;
} */