/*---------------------------------------
  Welcome Page
-----------------------------------------*/


#welcomepage-view .icons h4{
  margin-top: 20px;
  font-size: 20px;
}
#welcomepage-title{
  text-align: center;
}
.quickActions{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 3rem 2rem; */
  margin-bottom: 2rem;
  padding: 1rem;
}

#import-json, #open-file, #save-file{
  border: 2px dashed skyblue;
  display: inline-block;
  width: 25%;
  text-align: center;
  cursor: pointer;
  min-width: 225px;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.quickActionIcon{
  font-size: 80px;
  margin-bottom: 25px;
}

.quicklinks h3{
  padding-left:7rem;
}

.btn-group-horizontal{
  text-align:center;
}

.btn-group-horizontal a{
  margin: 1rem;
  border:2px solid rgb(74, 176, 199) !important;
}